.colorboton{
    background-color: #0090b3;
}
.botones2{background-color: #ffffff;}
.lowerheader{
    background-color: #182951;
    color: #ffffff;
}
.divbf{
background-color: #D6B15F;
color: #ffffff;
}
.divdse{
    background-color: #0034A0;
    color: #ffffff;
}
.divdspc{
    background-color: #8dc641;
    color: #ffffff;
}
.divaii{
    background-color: #182951;
    color: #ffffff;
}
.conozca{
    background-color: #D6B15F;
    color: #ffffff;
}

.pie{
    background-color: #182951;
    color: #ffffff;
}
.botonpie{
    background-color: #182951;
    color: #ffffff;
}
.buscaroficina{
    background-color: #cccbcb;
}